/*Standard Style*/
@import "stylesheets/ASO.css";

:root {
    --Background: black;
    --Foreground: white;
    --Baseground: grey;
    --Panel: rgba(100, 100, 100, 0.4);
    --Panel2: rgba(64, 64, 64); /* Colour of two --Panel against black, used for tooltips */
    --PanelFaint: rgba(100, 100, 100, 0.2);
    --Error: red;
    --New: rgb(0, 255, 0);
}