@import "toolbar.css";
@import "table.css";
@import "input.css";

html {
    background: var(--Background);
}

body {
    color: var(--Foreground);
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

canvas, table {
    margin: 0.25em;
}

.icon {
    font-family: Segoe MDL2 Assets;
    width: 1.8em;
    padding: 0;
}

.new {
    animation: 0.5s linear 2 alternate new;
}

.spacer {
    margin-left: 0.5em !important;
}

.large {
    font-size: 1.6em;
}

.small {
    font-size: 0.625em;
}

div.notice {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.3;
}

@keyframes new {
    from {
        background: var(--Background);
    }

    to {
        background: var(--New);
    }
}