@import "toolbar.css";
@import "table.css";
@import "input.css";
html {
    background: var(--Background);
    height: 100%;
    overflow: hidden;
}

body {
    color: var(--Foreground);
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0.25em 0.25em 1em 0.25em;
    padding: 0.25em 0 0 0.25em;
    display: flex;
    flex-direction: column;
    height: calc(100% - 2em);
}

canvas, table {
    margin: 0 0.25em 0.25em 0;
}

div.toolbar, div.split {
    display: flex;
}

div.toolbar, div.split>div {
    margin: 0 0.25em 0.25em 0;
    padding: 0.25em 0 0 0.25em;
    background: var(--Panel);
}

/* General */

.new {
    animation: 0.5s linear 2 alternate new;
}

.spacer {
    margin-left: 0.5em !important;
}

input.choice.spacer {
    margin-left: 0 !important;
}

.large {
    font-size: 1.6em;
}

.small {
    font-size: 0.625em;
}

.fill {
    flex: 1 1 auto;
}

.console {
    font-family: 'Consolas', monospace;
    overflow-y: auto;
}

.flip-horizontaly {
    transform: scale(-1, 1);
}

.flip-verticaly {
    transform: scale(1, -1);
}

/* Scrollbar */

::-webkit-scrollbar {
    background-color: var(--Panel);
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {
    background-color: var(--Panel);
    border-style: solid;
    border-color: transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:horizontal {    
    border-width: 0.125rem 0;
}

::-webkit-scrollbar-thumb:vertical {    
    border-width: 0 0.125rem;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-button:hover {
    background-color: var(--Baseground);
}

::-webkit-scrollbar-button {   
    border-width: 0.125rem; 
    height: 1.1rem;
    width: 1.1rem;
}

::-webkit-scrollbar-corner {
    background: var(--Panel);
}

/* Panel */

div.split {
    flex-wrap: nowrap;
}

div.split>div {
    resize: horizontal;
    overflow: auto;
    min-width: 1em;
    min-height: 1em;
}

div.split.vertical {
    flex-direction: column;
}

div.split.vertical>div {
    resize: vertical;
}

div.split>div:last-child {
    resize: none;
    flex: 1 1 auto;
}

div.split>div.split {
    background: none;
    margin: 0;
    padding: 0;
}

@keyframes new {
    from {
        background: var(--Background);
    }
    to {
        background: var(--New);
    }
}

/* Standard Footer */

div.notice {
    position: fixed;
    left: 0.5em;
    width: calc(100% - 1em);
    bottom: 0;
    opacity: 0.3;
    transition: 4s;
    height: 1.5em;
    text-align: right;
}

div.notice:hover {
    background: var(--Panel);
    opacity: 1;
}

div.notice>a {
    color: var(--Foreground);
}

div.notice>a:visited {
    color: var(--Foreground);
}