input, select, textarea, div[contenteditable=true] {
    background: var(--Background);
    color: var(--Foreground);
    box-sizing: border-box;
    border-radius: 0;
    border: 2px solid var(--Background);
}

input, select {
    vertical-align: text-bottom;
    font-size: 0.8333333em;
}

div.toolbar input, div.toolbar select {
    height: 1.80em;
    margin: 0 0.25em 0.25em 0;
}

input:hover, select:hover, textarea:hover, div[contenteditable=true]:hover {
    border: 2px solid var(--Baseground);
}

input[type=number] {
    width: 4em;
    text-align: right;
}

input:focus, textarea:focus, div[contenteditable=true]:focus {
    background: var(--Foreground);
    color: var(--Background);
    outline: none;
}

input:invalid {
    border-color: var(--Error);
}

input.toggle:focus, input.choice:focus {
    background: var(--Background);
    color: var(--Foreground);
}

input.toggle.check, input.choice.check {
    background: var(--Foreground);
    color: var(--Background);
}

input.choice+input.choice {
    margin-left: -0.25em;
}

.icon {
    font-family: Segoe MDL2 Assets;
    width: 1.8em;
    padding: 0;
}

textarea.fill, div[contenteditable=true].fill {
    width: calc(100% - 0.25em);
    height: calc(100% - 0.3em);
    resize: none;
}