button, input, select, textarea, div[contenteditable=true] {
    background: var(--Background);
    color: var(--Foreground);
    box-sizing: border-box;
    border-radius: 0;
    border: 2px solid var(--Background);
}

button, input, select {
    vertical-align: text-bottom;
    font-size: 0.8333333em;
}

div.toolbar button, div.toolbar input, div.toolbar select {
    height: 1.6rem;
    margin: 0.125rem;
}

button:hover, input:hover, select:hover, textarea:hover, div[contenteditable=true]:hover {
    border: 2px solid var(--Baseground);
}

input[type=number] {
    width: 4em;
    text-align: right;
}

button:active, input:focus, textarea:focus, div[contenteditable=true]:focus {
    background: var(--Foreground);
    color: var(--Background);
    outline: none;
}

input:invalid {
    border-color: var(--Error);
}

button.toggle:focus, button.choice:focus {
    background: var(--Background);
    color: var(--Foreground);
}

button.toggle.check, button.choice.check {
    background: var(--Foreground);
    color: var(--Background);
}

button.choice+button.choice {
    margin-left: -0.125rem;
}

.icon {
    font-family: Segoe MDL2 Assets;
    width: 1.8em;
    padding: 0;
}

button > span.icon {
    position: relative;
    top: 0.132em;
    left: -0.175em;
}

textarea.fill, div[contenteditable=true].fill {
    width: calc(100% - 0.25em);
    height: calc(100% - 0.3em);
    resize: none;
}